root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
cmd = "templ generate && go build -tags devtools,wails -o ./tmp/main ."
bin = "./tmp/main"

include_ext = ["go", "tpl", "tmpl", "html", "templ", "css", "js"]

exclude_dir = ["assets", "tmp", "vendor", "node_modules", "frontend/dist", "bin"]

delay = 500

stop_on_error = true

[log]
time = true
main_only = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[screen]
clear_on_rebuild = true